.Filter {
  background-color: $color3;
  color: $color5;
  .title--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      cursor: pointer;
      border: 1px solid $color5;
      border-radius: 10000rem;
      padding: 0.4rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: rotate(180deg);
        background-color: $color5;
        fill: #000;
      }
    }
  }
  .container {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    .submit--filter__container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1.2rem 0;
      button {
        padding: 1.2rem 1.8rem;
        font-size: 1.8rem;
        color: $color2;
        background-color: $color5;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &.clear {
          background-color: #aa4a44;
        }
        &:hover {
          background-color: $color6;
          transform: translateY(1px);
          border-radius: 0;
        }
      }
    }
  }
}
