.GroupPage {
  width: 100%;
  height: 94vh;
  position: relative;
  .main--container {
    width: 100%;
    height: 90vh;
    padding: 4.8rem 9.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner--container {
      width: 70%;
      height: 100%;
      background-color: white;
      &.form--open {
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
      .header {
        display: flex;
        justify-content: space-between;
        padding: 1.8rem 2.4rem;
        border-bottom: 1px solid $color7;
        height: 10%;
        .btn--container {
          width: 50%;
          display: flex;
          gap: 1.2rem;
          button {
            padding: 0.6rem 1.8rem;
            width: 50%;
            border-radius: 0.6rem;
            font-size: 1.8rem;
            border: none;
            cursor: pointer;
            background-color: $color7;
            color: $color5;
            &:hover {
              background-color: $color4;
              color: $color7;
            }
          }
        }
      }
      .error--container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        padding: 2.4rem;
        span {
          font-size: 2.4rem;
        }
      }
      .list--of__groups {
        padding: 2.4rem;
        overflow-y: auto;
        height: 90%;
        .list--item {
          padding: 2.4rem;
          caret-color: transparent;
          cursor: pointer;
          transition: all 0.15s ease;
          border-bottom: 1px solid $color7;
          &:hover {
            color: $color5;
            background-color: $color7;
          }
        }
      }
    }
  }
}
