.SingleGroupView {
  height: 100%;
  width: 100%;

  .container {
    height: 100%;
    width: 100%;
    .group--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5%;
      width: 100%;
      padding: 1.2rem 1.2rem 1.2rem 0;
      background-color: $color7;
      .Dropdown {
        width: 20%;
        border: none;
        border-right: 1px solid rgba($color: $color5, $alpha: 0.5);
      }
      h2 {
        color: $color5;
      }
      .btn--container {
        width: 30%;
        display: flex;

        justify-content: flex-end;
        gap: 1.2rem;
        button {
          padding: 0.6rem 1.8rem;
          width: 40%;
          border-radius: 0.6rem;
          font-size: 1.8rem;
          border: none;
          cursor: pointer;

          background-color: $color9;
          color: $color5;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: $color5;
            color: $color9;
          }
        }
      }
    }
    .group--content {
      display: flex;
      height: 95%;
      width: 100%;
      .members--container {
        background-color: $color2;
        width: 20%;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        font-size: 1.2rem;
        .back--button__container {
          position: absolute;
          bottom: 0;
          color: $color5;
          background-color: $color7;
          width: 100%;
          cursor: pointer;
          padding: 2.4rem;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: $color5;
            color: $color7;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .members--container {
    display: none;
  }
}
@media (max-width: 1000px) {
  .group--header {
    .btn--container {
      width: 50% !important;
    }
    .Dropdown {
      width: 40% !important;
    }
  }
}

@media (max-width: 650px) {
  .group--header {
    .btn--container {
      width: 60% !important;
    }
    .Dropdown {
      width: 40% !important;
    }
  }
}

@media (max-height: 850px) {
  .group--header {
    height: 10% !important;
  }
  .group--content {
    height: 90% !important;
  }
}
