.showtimes {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  overflow: hidden;
  height: 94vh;
  position: relative;
  .mobile--nav__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 4.8rem;
    width: 4.8rem;
    background-color: black;
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 1.2rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
    &.mobile--menu__open {
      border-radius: 1000rem;
      background-color: white;
      fill: black;
    }
  }
  .filter--container {
    width: 30%;
    height: 100%;
    background-color: black;
    .Dropdown {
      color: white;
      margin: $space2;
    }
  }
  .ShowtimesSection {
    display: flex;
    padding: 2.4rem;
    width: 70%;
    height: 100%;
    align-items: center;
    overflow-y: auto;
    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.8rem;
      gap: 1.2rem;
      .btn {
        padding: 1.2rem;
        border-radius: 100000rem;
        width: 4.2rem;
        height: 4.2rem;
        border: 1px solid $color5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      span {
        color: $color5;
      }
    }
    .empty {
      color: white;
    }
  }
}
@media (max-width: 1200px) {
  .showtimes {
    .mobile--nav__btn {
      display: block;
      z-index: 6;
    }
    .filter--container {
      display: none;

      &.mobile--menu__open {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: 5;
      }
    }
    .ShowtimesSection {
      width: 100%;
    }
  }
}
@media (max-width: 1100px) {
  .showtimes {
    font-size: 1.6rem;
  }
}

.ShowtimesSection::-webkit-scrollbar {
  width: 1.2rem;
}

.ShowtimesSection::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.ShowtimesSection::-webkit-scrollbar-thumb {
  background-color: rgba($color: $color5, $alpha: 1);
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.ShowtimesSection::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
