.showtimes {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ShowtimesSection {
        display: flex;
        width: 100%;
        align-items: center;

        .empty {
            color: white;
        }
    }
    .Dropdown {
        color: white;
        width: 80%;
        margin: $space2;
    }
}