.Dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  border: 1px solid $color5;
  padding: 0.6rem 1.2rem;
  caret-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
  img {
    transform: rotate(-90deg) scale(1.5);
    transition: transform 0.2s ease-in-out;
    &.active {
      transform: rotate(90deg) scale(1.5);
    }
  }
  .dropdown--content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transform: translateY(0) scaleY(0);
    transform-origin: bottom;
    color: $color2;
    transition: transform 0.2s ease-in-out, max-height 0.2s ease-in-out;
    .dropdown--item {
      padding: 1.2rem;
      border-bottom: 1px solid $color2;
      transition: all 0.2s ease-in-out;
      span {
        font-size: 1.8rem;
      }
      &:hover {
        background-color: $color2;
        color: $color5;
      }
    }
    &.active {
      max-height: 70vh;
      overflow-y: auto;

      transform: translateY(100%) scaleY(1);
      background-color: $color5;
    }
  }
}
