.ProductCard {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .product--card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: $color4, $alpha: 0.5);
    padding: 1.2rem;
    h2 {
    }
    span {
    }
  }
}
