.ProductCard {
  position: relative;
  &.interactive {
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
  }
  button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem; 
    background-color: #8f0c0c; 
    color: white; 
    border: none; 
    border-radius: 0.25rem; 
    cursor: pointer; 

    &:hover {
      background-color: #770505;
    }
  }
  .product--card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    background-color: rgba($color: $color4, $alpha: 0.5);
    padding: 1.2rem;

    h2 {
    }
    span {
    }
  }
}
