.Review {
  width: 100%;
  display: flex;
  background-color: $color9;
  color: $color5;
  border-radius: 1rem;
  overflow: hidden;
  padding: 3rem 1.2rem;
  .rating {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
  }
  .review--content__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    .review--text {
      padding: 0 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      h2 {
        font-size: 2.4rem;
      }
    }
    .review--heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.8rem;
      .created--at__container {
        width: 50%;
        span {
          align-self: flex-end;
          width: 100%;
          font-weight: 600;
        }
      }
      .person--container {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 0 2.4rem;

        width: 50%;
        .RoundPhoto {
          width: 3.6rem;
        }
        span {
          font-size: 2.4rem;
        }
      }
    }
  }
}
