.ShowtimesSection {
  display: flex;
  @include responsive-width;
  flex-direction: column;
  gap: $space2;

  ul {
    justify-content: flex-start;
    list-style: none;
  }

  .empty {
    color: $color5;
  }
}
