.ShowtimesSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: $space2;

    ul {
        justify-content: flex-start;
        width: 80%;
        list-style: none;
    }

    .empty {
        color: $color5;
    }
}