.Showtime {
  display: flex;
  gap: $space2;
  color: $color5;
  .movie--poster {
    width: 15%;
  }
  .time--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 1.2rem;
    width: 15%;
    .time {
      color: $color6;
      font-size: 3.2rem;
    }
    .date {
      font-size: 1.8rem;
    }
  }
  .movie--texts {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    width: 70%;
    .header {
      display: flex;
      justify-content: space-between;
      .title--container {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }
    }
    .movie--details__container {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      height: 100%;
      position: relative;
      .overview {
        overflow-y: auto;
        height: 70%;
      }
      .rating {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        svg {
          height: 2.4rem;
        }
      }
    }
    .movie {
      color: $color10;
    }

    .lang {
      display: flex;
      margin-left: auto;
      gap: $space2;
      p:empty {
        display: none;
      }
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba($color: $color4, $alpha: 0.5);
    margin-bottom: $space2;
    padding-bottom: $space2;
  }
}
.overview::-webkit-scrollbar {
  width: 1.2rem;
}

.overview::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.overview::-webkit-scrollbar-thumb {
  background-color: rgba($color: $color5, $alpha: 1);
  border-radius: 1rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.overview::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
  .Showtime {
    .time--container {
      .time {
        color: $color6;
        font-size: 2.8rem;
      }
      .date {
        font-size: 1.4rem;
      }
    }
  }
}
@media (max-width: 800px) {
  .Showtime {
    flex-direction: column;
    height: 32rem;
    .movie--poster {
      width: 100%;
      display: none;
    }
    .time--container {
      width: 100%;
      height: 20%;
    }
    .movie--texts {
      width: 100%;
      height: 80%;
    }
  }
}
