.App {
  background-color: #1f1f1f;
  min-height: 100vh;
  width: 100%;
}

.SingleView {
  width: 80%;
  height: 90%;
  background-color: #000000;
  border-radius: 1rem;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.SingleView .inner--container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.SingleView .inner--container .close--icon {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}
.SingleView .inner--container .review--section__container {
  width: 100%;
  padding: 4.8rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SingleView .Showtimes {
  width: 100%;
  color: white;
}
.SingleView .Showtimes .Dropdown {
  margin-bottom: 2.4rem;
}

.ProductSlide {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #121212;
}
.ProductSlide .ProductCard {
  width: 35%;
  height: 100%;
}
.ProductSlide .text--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.8rem;
  color: white;
  width: 65%;
  padding: 7.2rem 4.8rem;
}
.ProductSlide .text--container h2 {
  font-size: 4.8rem;
}
.ProductSlide .text--container p {
  font-size: 2.4rem;
}
.ProductSlide .text--container .average--rating__container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #aaaaaa;
  margin-top: 2.4rem;
}
.ProductSlide .text--container .average--rating__container img {
  height: 24px !important;
}
.ProductSlide .text--container .info--container {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
}
.ProductSlide .text--container .info--container span {
  color: #aaaaaa;
}

.ProductCard {
  position: relative;
}
.ProductCard.interactive {
  cursor: pointer;
}
.ProductCard img {
  width: 100%;
  height: 100%;
}
.ProductCard button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.ProductCard .product--card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.5);
  padding: 1.2rem;
}
.SingleViewNav {
  width: 100%;
  height: 8%;
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
}
.SingleViewNav .nav--btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  caret-color: transparent;
  text-align: center;
  position: relative;
}
.SingleViewNav .nav--btn__container.active {
  background-color: #aaaaaa;
  color: #1a1a1a;
}
.SingleViewNav .nav--btn__container.active .active--underline {
  background-color: #4f87d4;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
}
.SingleViewNav .nav--btn__container::before {
  content: "";
  background-color: #4f87d4;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.SingleViewNav .nav--btn__container:hover::before {
  transform: scaleX(1);
}

.ReviewSection {
  height: 100%;
  width: 80%;
}
.ReviewSection .write--a__review {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}
.ReviewSection .write--a__review .RoundPhoto {
  width: 5%;
}
.ReviewSection .write--a__review .RoundPhoto img {
  border-radius: 1000rem;
  width: 100%;
  height: 100%;
}
.ReviewSection .write--a__review input {
  font-size: 2.4rem;
  width: 100%;
  border-radius: 5rem;
  padding: 0 1.2rem;
}
.ReviewSection .reviews--container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.Review {
  width: 100%;
  display: flex;
  background-color: #333;
  color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  padding: 3rem 1.2rem;
}
.Review .rating {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}
.Review .review--content__container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.Review .review--content__container .review--text {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.Review .review--content__container .review--text b {
  color: #4f87d4;
  text-decoration: underline;
  cursor: pointer;
}
.Review .review--content__container .review--text h2 {
  font-size: 2.4rem;
}
.Review .review--content__container .review--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}
.Review .review--content__container .review--heading .created--at__container {
  width: 50%;
}
.Review .review--content__container .review--heading .created--at__container span {
  align-self: flex-end;
  width: 100%;
  font-weight: 600;
}
.Review .review--content__container .review--heading .person--container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0 2.4rem;
  width: 50%;
}
.Review .review--content__container .review--heading .person--container .RoundPhoto {
  width: 3.6rem;
}
.Review .review--content__container .review--heading .person--container span {
  font-size: 2.4rem;
}

.CastSection {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}

.RoundPhoto {
  width: 5%;
  aspect-ratio: 1/1;
}
.RoundPhoto img {
  border-radius: 1000rem;
  width: 100%;
  height: 100%;
}

.CastMember {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.CastMember .RoundPhoto {
  width: 15%;
}
.CastMember .text--container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: white;
}
.CastMember .text--container h2 {
  font-weight: 600;
  font-size: 2.4rem;
}
.CastMember .text--container span {
  font-weight: 400;
  font-size: 1.6rem;
}

.MainNav {
  height: 6vh;
  width: 100%;
  background-color: #121212;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  z-index: 3;
}
.MainNav ul {
  margin: auto;
  width: 68%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 1.2rem;
}
.MainNav ul .menu {
  position: relative;
}
.MainNav ul .menu .dropdown {
  min-width: 200%;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 0.8rem;
  bottom: -1rem;
  right: 50%;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(50%, 105%);
  background-color: #ffffff;
  color: #121212;
}
.MainNav ul .menu .dropdown .dropdown--item {
  cursor: pointer;
  caret-color: transparent;
  padding: 1.2rem;
  border-bottom: 1px solid #121212;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.MainNav ul .menu .dropdown .dropdown--item span {
  font-size: 1.8rem;
}
.MainNav ul .menu .dropdown .dropdown--item:hover {
  background-color: #121212;
  color: #ffffff;
}
.MainNav ul .user {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  position: relative;
}
.MainNav ul .user .dropdown {
  min-width: 200%;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 0.8rem;
  bottom: -1rem;
  right: 0;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(105%);
  background-color: #ffffff;
  color: #121212;
}
.MainNav ul .user .dropdown .dropdown--item {
  cursor: pointer;
  caret-color: transparent;
  padding: 1.2rem;
  border-bottom: 1px solid #121212;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.MainNav ul .user .dropdown .dropdown--item span {
  font-size: 1.8rem;
}
.MainNav ul .user .dropdown .dropdown--item:hover {
  background-color: #121212;
  color: #ffffff;
}
.MainNav ul .user .photo--container {
  height: 4rem;
  width: auto;
}
.MainNav ul .user .photo--container .RoundPhoto {
  height: 100%;
  width: auto;
  cursor: pointer;
}
.MainNav ul .nav__logo--container {
  cursor: pointer;
}
.MainNav ul .menu__btn {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 1.8rem;
  color: #ffffff;
}
.MainNav ul .nav__btn {
  border-radius: 1.2rem;
  padding: 0.6rem 2.4rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.MainNav ul .nav__btn.search--btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}
.MainNav ul .nav__btn.search--btn img {
  transition: transform 0.2s ease-in-out;
}
.MainNav ul .nav__btn.search--btn:hover {
  background-color: transparent;
}
.MainNav ul .nav__btn.search--btn:hover img {
  transform: scale(1.1);
}
.MainNav ul .nav__btn:hover {
  background-color: #1f1f1f;
}
.MainNav ul .nav__searchbar {
  display: flex;
  background-color: #ffffff;
  width: 70%;
  border-radius: 1.2rem;
  overflow: hidden;
}
.MainNav ul .nav__searchbar input {
  width: 100%;
  border: none;
  border-right: 1px solid #121212;
  font-size: 2rem;
  padding: 0 1.2rem;
}
.MainNav ul .nav__searchbar input:focus {
  outline: none;
}
.MainNav ul .login--buttons {
  display: flex;
  width: 20%;
  gap: 1.2rem;
}
.MainNav ul .login--buttons button {
  padding: 0.6rem 1.8rem;
  width: 50%;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}
.MainNav ul .login--buttons button.sign--up {
  background-color: #4f87d4;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.MainNav ul .login--buttons button.sign--up:hover {
  background-color: #ffffff;
  color: #4f87d4;
  border: 1px solid #4f87d4;
}
.MainNav ul .login--buttons button.login {
  background-color: #ffffff;
  color: #4f87d4;
  transition: all 0.2s ease-in-out;
}
.MainNav ul .login--buttons button.login:hover {
  background-color: #4f87d4;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.MainNav .search--results__container {
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 4.8rem;
  top: 100%;
  background-color: #333;
  width: 100%;
  height: 80vh;
  padding: 4.8rem;
}
.MainNav .search--results__container.hidden {
  display: none;
}
.MainNav .search--results__container .BestMatch {
  width: 35%;
}
.MainNav .search--results__container .Alternatives {
  width: 35%;
}

.BestMatch {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  cursor: pointer;
}
.BestMatch.maxWidth {
  width: 60% !important;
}
.BestMatch.maxWidth .match--container .image--container {
  height: 100%;
  width: 30%;
  overflow: hidden;
}
.BestMatch.maxWidth .match--container .image--container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 90%;
}
.BestMatch.maxWidth .match--container .movie--text {
  width: 70%;
}
.BestMatch .match--container {
  height: 100%;
}
.BestMatch .match--container .match {
  height: 90%;
  display: flex;
  gap: 1.2rem;
}
.BestMatch .match--container .match .movie--text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Alternatives {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;
}
.Alternatives .match--container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.Alternatives .match--container .alternative {
  height: 10%;
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}
.Alternatives .match--container .alternative .movie--text {
  font-size: 1.2rem;
  align-self: center;
}

.ShowtimesSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.4rem;
}
.ShowtimesSection ul {
  justify-content: flex-start;
  width: 80%;
  list-style: none;
}
.ShowtimesSection .empty {
  color: #ffffff;
}

.Showtime {
  display: flex;
  gap: 2.4rem;
  color: #ffffff;
}
.Showtime .time {
  color: #4f87d4;
}
.Showtime .movie {
  color: #e4bc0e;
}
.Showtime .lang {
  display: flex;
  margin-left: auto;
  gap: 2.4rem;
}
.Showtime .lang p:empty {
  display: none;
}
.Showtime:not(:last-child) {
  border-bottom: 2px solid #1a1a1a;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
}

.TintLayer {
  -webkit-backdrop-filter: brightness(25%);
          backdrop-filter: brightness(25%);
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading .content {
  width: 100%;
}
.loading .spinner {
  width: 5rem;
  height: 5rem;
  position: relative;
  padding-top: 5rem;
  background-color: transparent;
}
.loading .spinner::before, .loading .spinner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  animation: rotate 1.5s linear infinite;
  pointer-events: none;
}
.loading .spinner::before {
  border-left-color: #ffffff;
}
.loading .spinner::after {
  border-left-color: #ffffff;
  animation-duration: 2s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.showtimes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showtimes .ShowtimesSection {
  display: flex;
  width: 100%;
  align-items: center;
}
.showtimes .ShowtimesSection .empty {
  color: white;
}
.showtimes .Dropdown {
  color: white;
  width: 80%;
  margin: 2.4rem;
}

.BrowseMovies {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  justify-self: center;
}
.BrowseMovies .container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.MovieGenrePreview {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.MovieGenrePreview .genre--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.MovieGenrePreview .genre--header h2 {
  font-size: 2.8rem;
  padding-bottom: 1.8rem;
}
.MovieGenrePreview .genre--header span {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.MovieGenrePreview .genre--header span:hover {
  color: #4f87d4;
}
.MovieGenrePreview .movies--container {
  display: flex;
  gap: 1.8rem;
}
.MovieGenrePreview .movies--container .ProductCard {
  width: 17%;
}

.Filter {
  background-color: #000000;
  color: #ffffff;
}
.Filter .title--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Filter .title--container svg {
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10000rem;
  padding: 0.4rem;
  transition: all 0.2s ease-in-out;
}
.Filter .title--container svg:hover {
  transform: rotate(180deg);
  background-color: #ffffff;
  fill: #000;
}
.Filter .container {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.Filter .container .submit--filter__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.2rem 0;
}
.Filter .container .submit--filter__container button {
  padding: 1.2rem 1.8rem;
  font-size: 1.8rem;
  color: #121212;
  background-color: #ffffff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.Filter .container .submit--filter__container button.clear {
  background-color: #aa4a44;
}
.Filter .container .submit--filter__container button:hover {
  background-color: #4f87d4;
  transform: translateY(1px);
  border-radius: 0;
}

.Dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  border: 1px solid #ffffff;
  padding: 0.6rem 1.2rem;
  caret-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.Dropdown img {
  transform: rotate(-90deg) scale(1.5);
  transition: transform 0.2s ease-in-out;
}
.Dropdown img.active {
  transform: rotate(90deg) scale(1.5);
}
.Dropdown .dropdown--content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  max-height: 0;
  transform: translateY(0) scaleY(0);
  transform-origin: bottom;
  color: #121212;
  transition: transform 0.2s ease-in-out, max-height 0.2s ease-in-out;
}
.Dropdown .dropdown--content .dropdown--item {
  padding: 1.2rem;
  border-bottom: 1px solid #121212;
  transition: all 0.2s ease-in-out;
}
.Dropdown .dropdown--content .dropdown--item span {
  font-size: 1.8rem;
}
.Dropdown .dropdown--content .dropdown--item:hover {
  background-color: #121212;
  color: #ffffff;
}
.Dropdown .dropdown--content.active {
  max-height: -moz-fit-content;
  max-height: fit-content;
  transform: translateY(100%) scaleY(1);
  background-color: #ffffff;
}

.BrowseMoviesByGenre {
  display: flex;
  width: 100%;
}
.BrowseMoviesByGenre .Filter {
  width: 20%;
}
.BrowseMoviesByGenre .content--container {
  width: 80%;
  padding: 2.8rem;
}
.BrowseMoviesByGenre .content--container .header {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1.8rem;
}
.BrowseMoviesByGenre .content--container .header .header--content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.BrowseMoviesByGenre .content--container .header .header--content .Dropdown {
  width: 20%;
}
.BrowseMoviesByGenre .content--container .movies--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
}
.BrowseMoviesByGenre .content--container .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
  gap: 1.2rem;
}
.BrowseMoviesByGenre .content--container .pagination .btn {
  padding: 1.2rem;
  border-radius: 100000rem;
  width: 4.2rem;
  height: 4.2rem;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.BrowseMoviesByGenre .content--container .pagination span {
  color: #ffffff;
}

.RangeSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.RangeSlider h2 {
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.RangeSlider .fields--container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.RangeSlider .fields--container .separator {
  height: 1px;
  width: 20%;
  background-color: #ffffff;
}
.RangeSlider .fields--container input {
  background-color: #ffffff;
  border-radius: 0.2rem;
  border: none;
  color: #121212;
  width: 25%;
  text-align: center;
  transition: all 0.2s;
  font-size: 1.8rem;
}
.RangeSlider .fields--container input:focus {
  outline: none;
}
.RangeSlider .slider--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.RangeSlider .slider--container .slider {
  background-color: #aaaaaa;
  width: 100%;
  height: 5px;
  position: absolute;
}
.RangeSlider .slider--container .slider .progress {
  position: absolute;
  left: 0%;
  right: 0%;
  height: 100%;
  background-color: #4f87d4;
}
.RangeSlider .slider--container input {
  position: absolute;
  padding: 0;
  width: 100%;
  background: none;
  pointer-events: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.RangeSlider .slider--container input[type=range]::-webkit-slider-thumb {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: #ffffff;
}

.form--window__container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: auto;
}
.form--window__container.active {
  pointer-events: all;
}
.form--window__container .form--window__inner {
  width: 30%;
  border-radius: 1rem;
  overflow: hidden;
}
.form--window__container .form--window {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 2.4rem;
  overflow-y: auto;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.form--window__container .form--window.active {
  transform: scale(1);
}
.form--window__container .form--window .contact--form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
  font-size: 2.4rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #121212;
}
.form--window__container .form--window .contact--form__header svg {
  cursor: pointer;
  border: 1px solid #121212;
  border-radius: 10000rem;
  padding: 0.4rem;
  transition: all 0.2s ease-in-out;
  fill: #121212;
}
.form--window__container .form--window .contact--form__header svg:hover {
  transform: rotate(180deg);
  background-color: #121212;
  fill: #ffffff;
  border: 1px solid #ffffff;
}
.form--window__container .form--window form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.form--window__container .form--window form .form--input__container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.form--window__container .form--window form .form--input__container input {
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #f0f0f0;
}
.form--window__container .form--window form .form--input__container input:focus {
  border: 1px solid #2e2f4b;
  outline: none;
}
.form--window__container .form--window form .form--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form--window__container .form--window form .form--footer b {
  border-bottom: 1px solid #121212;
  cursor: pointer;
  caret-color: transparent;
}
.form--window__container .form--window form .form--footer .send--button {
  margin-top: 1.2rem;
  border: 1px solid #121212;
  color: #121212;
  cursor: pointer;
  background: none;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.2s ease-in-out;
}
.form--window__container .form--window form .form--footer .send--button span {
  font-size: 1.8rem;
}
.form--window__container .form--window form .form--footer .send--button:hover {
  background-color: #121212;
  color: #fff;
}

@media (max-width: 1400px) {
  .form--window__inner {
    width: 50% !important;
  }
}
@media (max-width: 770px) {
  .form--window__inner {
    width: 80% !important;
  }
}
.favourites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.favourites-container h2 {
  margin: 2.4rem;
  color: white;
}
.favourites-container .empty {
  color: white;
}

.Favourite {
  display: flex;
  gap: 2.4rem;
  color: #ffffff;
}
.Favourite:not(:last-child) {
  border-bottom: 2px solid #1a1a1a;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
}

.UserSettings {
  width: 100%;
  height: 100%;
  padding: 4.8rem 9.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UserSettings button {
  padding: 0.6rem 1.8rem;
  width: 50%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}
.UserSettings .input--container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.UserSettings .input--container input {
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #f0f0f0;
}
.UserSettings .input--container input:focus {
  border: 1px solid #2e2f4b;
  outline: none;
}
.UserSettings .container {
  height: 80vh;
  width: 70%;
}
.UserSettings .container h2 {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #121212;
  padding: 1.8rem 1.2rem;
}
.UserSettings .container .settings--container {
  height: 100%;
  width: 100%;
  color: #121212;
  background-color: #ffffff;
  display: flex;
}
.UserSettings .container .settings--container .side--nav {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px solid #121212;
}
.UserSettings .container .settings--container .side--nav div {
  padding: 2.4rem 1.2rem;
  border-bottom: 1px solid #121212;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  caret-color: transparent;
}
.UserSettings .container .settings--container .side--nav div span {
  font-size: 1.8rem;
}
.UserSettings .container .settings--container .side--nav div:hover {
  background-color: #121212;
  color: #ffffff;
}
.UserSettings .container .settings--container .settings {
  width: 70%;
  padding: 1.8rem;
}

.GeneralSettings {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.GeneralSettings .btn--container {
  width: 50%;
  margin-left: auto;
  display: flex;
  gap: 1.2rem;
}
.GeneralSettings .btn--container .submit {
  background-color: #4f87d4;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.GeneralSettings .btn--container .submit:hover {
  background-color: #ffffff;
  color: #4f87d4;
  border: 1px solid #4f87d4;
}
.GeneralSettings .btn--container .reset {
  background-color: #121212;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.GeneralSettings .btn--container .reset:hover {
  background-color: #ffffff;
  color: #121212;
  border: 1px solid #121212;
}

.DeleteUser {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.DeleteUser .delete {
  width: 100%;
  background-color: #b22222;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.DeleteUser .delete:hover {
  background-color: rgba(178, 34, 34, 0.8);
}

.ReviewForm {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: auto;
}
.ReviewForm.active {
  pointer-events: all;
}
.ReviewForm .form--window__inner {
  width: 50%;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;
}
.ReviewForm .form--window {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 2.4rem;
  overflow-y: auto;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.ReviewForm .form--window.active {
  transform: scale(1);
}
.ReviewForm .form--window .contact--form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  padding-bottom: 1.2rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid #121212;
  height: 10%;
}
.ReviewForm .form--window .contact--form__header svg {
  cursor: pointer;
  border: 1px solid #121212;
  border-radius: 10000rem;
  padding: 0.4rem;
  transition: all 0.2s ease-in-out;
  fill: #121212;
}
.ReviewForm .form--window .contact--form__header svg:hover {
  transform: rotate(180deg);
  background-color: #121212;
  fill: #ffffff;
  border: 1px solid #ffffff;
}
.ReviewForm .form--window form {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
}
.ReviewForm .form--window form .form--input__container {
  height: 100%;
  width: 100%;
}
.ReviewForm .form--window form .form--input__container textarea {
  font-family: "Roboto", sans-serif;
  padding: 1.2rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  border: none;
  resize: none;
  background-color: #f0f0f0;
}
.ReviewForm .form--window form .form--input__container textarea:focus {
  border: 1px solid #2e2f4b;
  outline: none;
}
.ReviewForm .form--window form .form--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ReviewForm .form--window form .form--footer .send--button {
  margin-left: auto;
  margin-top: 1.2rem;
  border: 1px solid #121212;
  color: #121212;
  cursor: pointer;
  background: none;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.2s ease-in-out;
}
.ReviewForm .form--window form .form--footer .send--button span {
  font-size: 1.8rem;
}
.ReviewForm .form--window form .form--footer .send--button:hover {
  background-color: #121212;
  color: #fff;
}

@media (max-width: 1400px) {
  .form--window__inner {
    width: 50% !important;
  }
}
@media (max-width: 770px) {
  .form--window__inner {
    width: 80% !important;
  }
}
.GroupPage {
  width: 100%;
  height: 94vh;
  position: relative;
}
.GroupPage .main--container {
  width: 100%;
  height: 90vh;
  padding: 4.8rem 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GroupPage .main--container .inner--container {
  width: 70%;
  height: 100%;
  background-color: white;
}
.GroupPage .main--container .inner--container.form--open {
  background-color: rgba(0, 0, 0, 0.5);
}
.GroupPage .main--container .inner--container .header {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2.4rem;
  border-bottom: 1px solid #1f1f1f;
  height: 10%;
}
.GroupPage .main--container .inner--container .header .btn--container {
  width: 50%;
  display: flex;
  gap: 1.2rem;
}
.GroupPage .main--container .inner--container .header .btn--container button {
  padding: 0.6rem 1.8rem;
  width: 50%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background-color: #1f1f1f;
  color: #ffffff;
}
.GroupPage .main--container .inner--container .header .btn--container button:hover {
  background-color: #aaaaaa;
  color: #1f1f1f;
}
.GroupPage .main--container .inner--container .error--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 2.4rem;
}
.GroupPage .main--container .inner--container .error--container span {
  font-size: 2.4rem;
}
.GroupPage .main--container .inner--container .list--of__groups {
  padding: 2.4rem;
  overflow-y: auto;
  height: 90%;
}
.GroupPage .main--container .inner--container .list--of__groups .list--item {
  padding: 2.4rem;
  caret-color: transparent;
  transition: all 0.15s ease;
  border-bottom: 1px solid #1f1f1f;
}
.GroupPage .main--container .inner--container .list--of__groups .list--item.normal {
  cursor: pointer;
}
.GroupPage .main--container .inner--container .list--of__groups .list--item.normal:hover {
  color: #ffffff;
  background-color: #1f1f1f;
}
.GroupPage .main--container .inner--container .list--of__groups .list--item .requestable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.GroupPage .main--container .inner--container .list--of__groups .list--item .requestable .request--btn {
  padding: 0.6rem 1.8rem;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background-color: #1f1f1f;
  color: #ffffff;
  transition: all 0.15s ease-in-out;
}
.GroupPage .main--container .inner--container .list--of__groups .list--item .requestable .request--btn:hover {
  background-color: #aaaaaa;
  color: #1f1f1f;
}

.PersonCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  height: 6.4rem;
  padding: 3.6rem 0.6rem;
  background-color: #121212;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.15s ease-in;
  position: relative;
}
.PersonCard .button--container {
  display: flex;
  gap: 1.2rem;
}
.PersonCard button {
  margin-left: auto;
  padding: 0.6rem 1.8rem;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #121212;
}
.PersonCard button:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}
.PersonCard .person {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.PersonCard .person .RoundPhoto {
  height: 5.4rem;
  width: 5.4rem;
}
.PersonCard:hover {
  background-color: #333;
}

.SingleGroupView {
  height: 100%;
  width: 100%;
}
.SingleGroupView .container {
  height: 100%;
  width: 100%;
}
.SingleGroupView .container .group--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 0;
  background-color: #1f1f1f;
}
.SingleGroupView .container .group--header .Dropdown {
  width: 20%;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.SingleGroupView .container .group--header h2 {
  color: #ffffff;
}
.SingleGroupView .container .group--header .btn--container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}
.SingleGroupView .container .group--header .btn--container button {
  padding: 0.6rem 1.8rem;
  width: 40%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.SingleGroupView .container .group--header .btn--container button:hover {
  background-color: #ffffff;
  color: #333;
}
.SingleGroupView .container .group--content {
  display: flex;
  height: 95%;
  width: 100%;
  background-color: blue;
}
.SingleGroupView .container .group--content .members--container {
  background-color: #121212;
  width: 20%;
  overflow-y: auto;
  position: relative;
}
.SingleGroupView .container .group--content .members--container .back--button__container {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: #1f1f1f;
  width: 100%;
  cursor: pointer;
  padding: 2.4rem;
  transition: all 0.2s ease-in-out;
}
.SingleGroupView .container .group--content .members--container .back--button__container:hover {
  background-color: #ffffff;
  color: #1f1f1f;
}
.SingleGroupView .container .group--content .content--container {
  background-color: #333;
  width: 80%;
  padding: 0 6.4rem;
  display: flex;
  flex-direction: column;
}
.SingleGroupView .container .group--content .content--container .user--input {
  width: 100%;
  height: 10%;
}
.SingleGroupView .container .group--content .content--container .user--input input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #f0f0f0;
}
.SingleGroupView .container .group--content .content--container .user--input input:focus {
  outline: none;
}
.SingleGroupView .container .group--content .content--container .content {
  height: 90%;
}
.SingleGroupView .container .group--content .content--container .content .message {
  display: flex;
  gap: 1.8rem;
  color: #ffffff;
}
.SingleGroupView .container .group--content .content--container .content .message .sender {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.SingleGroupView .container .group--content .content--container .content .message .sender .time {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

.CreateGroupForm {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.CreateGroupForm .input--container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.CreateGroupForm .input--container input {
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #f0f0f0;
}
.CreateGroupForm .input--container input:focus {
  border: 1px solid #2e2f4b;
  outline: none;
}
.CreateGroupForm .btn--container {
  width: 100%;
  display: flex;
  gap: 1.2rem;
}
.CreateGroupForm .btn--container button {
  margin-left: auto;
  padding: 0.6rem 1.8rem;
  width: 50%;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background-color: #1f1f1f;
  color: #ffffff;
}
.CreateGroupForm .btn--container button:hover {
  background-color: #aaaaaa;
  color: #1f1f1f;
}

.AddUserMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.2rem;
  background-color: #1f1f1f;
  z-index: 5;
  display: flex;
}
.AddUserMenu .user--menu__nav {
  padding: 2.4rem 1.2rem 2.4rem 0;
  width: 30%;
}
.AddUserMenu .user--menu__nav .nav--button {
  padding: 2.4rem 1.2rem;
  border-bottom: 1px solid #aaaaaa;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.AddUserMenu .user--menu__nav .nav--button span {
  color: #aaaaaa;
  font-size: 2.4rem;
}
.AddUserMenu .user--menu__nav .nav--button:hover {
  border-bottom: 1px solid #ffffff;
}
.AddUserMenu .user--menu__nav .nav--button:hover span {
  color: #ffffff;
}
.AddUserMenu .user--menu__nav .nav--button.active {
  border-bottom: 1px solid #ffffff;
}
.AddUserMenu .user--menu__nav .nav--button.active span {
  color: #ffffff;
}
.AddUserMenu .content--container {
  width: 70%;
  padding: 2.4rem;
}
.AddUserMenu .content--container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
  color: #ffffff;
}
.AddUserMenu .content--container .header svg {
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10000rem;
  padding: 0.4rem;
  transition: all 0.2s ease-in-out;
  fill: #ffffff;
}
.AddUserMenu .content--container .header svg:hover {
  transform: rotate(180deg);
}
.AddUserMenu .content--container input {
  height: 10%;
  width: 100%;
  padding: 0.6rem;
  font-size: 1.8rem;
}
.AddUserMenu .content--container .people--container {
  margin-top: 1.8rem;
  height: 90%;
  overflow-y: auto;
}
.AddUserMenu .content--container .people--container .PersonCard {
  padding: 3.6rem 1.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=index.css.map */