.App {
  background-color: #1f1f1f;
  min-height: 100vh;
  width: 100%;
}

.SingleView {
  width: 80%;
  height: 90%;
  background-color: #000000;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.SingleView .inner--container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.SingleView .inner--container .close--icon {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}
.SingleView .inner--container .review--section__container {
  width: 100%;
  padding: 4.8rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductSlide {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #121212;
}
.ProductSlide .ProductCard {
  width: 35%;
  height: 100%;
}
.ProductSlide .text--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.8rem;
  color: white;
  width: 65%;
  padding: 7.2rem 4.8rem;
}
.ProductSlide .text--container h2 {
  font-size: 4.8rem;
}
.ProductSlide .text--container p {
  font-size: 2.4rem;
}
.ProductSlide .text--container .average--rating__container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #aaaaaa;
  margin-top: 2.4rem;
}
.ProductSlide .text--container .average--rating__container img {
  height: 24px !important;
}
.ProductSlide .text--container .info--container {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
}
.ProductSlide .text--container .info--container span {
  color: #aaaaaa;
}

.ProductCard.interactive {
  cursor: pointer;
}
.ProductCard img {
  width: 100%;
  height: 100%;
}
.ProductCard .product--card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.5);
  padding: 1.2rem;
}
.SingleViewNav {
  width: 100%;
  height: 8%;
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
}
.SingleViewNav .nav--btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  caret-color: transparent;
  text-align: center;
  position: relative;
}
.SingleViewNav .nav--btn__container.active {
  background-color: #aaaaaa;
  color: #1a1a1a;
}
.SingleViewNav .nav--btn__container.active .active--underline {
  background-color: #4f87d4;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
}
.SingleViewNav .nav--btn__container::before {
  content: "";
  background-color: #4f87d4;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.SingleViewNav .nav--btn__container:hover::before {
  transform: scaleX(1);
}

.ReviewSection {
  height: 100%;
  width: 80%;
}
.ReviewSection .write--a__review {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}
.ReviewSection .write--a__review .RoundPhoto {
  width: 5%;
}
.ReviewSection .write--a__review .RoundPhoto img {
  border-radius: 1000rem;
  width: 100%;
  height: 100%;
}
.ReviewSection .write--a__review input {
  font-size: 2.4rem;
  width: 100%;
  border-radius: 5rem;
  padding: 0 1.2rem;
}
.ReviewSection .reviews--container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.Review {
  width: 100%;
  display: flex;
  background-color: #333;
  color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  padding: 3rem 1.2rem;
}
.Review .rating {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}
.Review .review--content__container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.Review .review--content__container .review--text {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.Review .review--content__container .review--text h2 {
  font-size: 2.4rem;
}
.Review .review--content__container .review--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}
.Review .review--content__container .review--heading .created--at__container {
  width: 50%;
}
.Review .review--content__container .review--heading .created--at__container span {
  align-self: flex-end;
  width: 100%;
  font-weight: 600;
}
.Review .review--content__container .review--heading .person--container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0 2.4rem;
  width: 50%;
}
.Review .review--content__container .review--heading .person--container .RoundPhoto {
  width: 3.6rem;
}
.Review .review--content__container .review--heading .person--container span {
  font-size: 2.4rem;
}

.CastSection {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}

.RoundPhoto {
  width: 5%;
  aspect-ratio: 1/1;
}
.RoundPhoto img {
  border-radius: 1000rem;
  width: 100%;
  height: 100%;
}

.CastMember {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.CastMember .RoundPhoto {
  width: 15%;
}
.CastMember .text--container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: white;
}
.CastMember .text--container h2 {
  font-weight: 600;
  font-size: 2.4rem;
}
.CastMember .text--container span {
  font-weight: 400;
  font-size: 1.6rem;
}

.MainNav {
  height: 6vh;
  width: 100%;
  background-color: #121212;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
}
.MainNav ul {
  margin: auto;
  width: 68%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 1.2rem;
}
.MainNav ul .nav__logo--container {
  cursor: pointer;
}
.MainNav ul .menu__btn {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 1.8rem;
  color: #ffffff;
}
.MainNav ul .nav__btn {
  border-radius: 1.2rem;
  padding: 0.6rem 2.4rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.MainNav ul .nav__btn.search--btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}
.MainNav ul .nav__btn.search--btn img {
  transition: transform 0.2s ease-in-out;
}
.MainNav ul .nav__btn.search--btn:hover {
  background-color: transparent;
}
.MainNav ul .nav__btn.search--btn:hover img {
  transform: scale(1.1);
}
.MainNav ul .nav__btn:hover {
  background-color: #1f1f1f;
}
.MainNav ul .nav__searchbar {
  display: flex;
  background-color: #ffffff;
  width: 70%;
  border-radius: 1.2rem;
  overflow: hidden;
}
.MainNav ul .nav__searchbar input {
  width: 100%;
  border: none;
  border-right: 1px solid #121212;
  font-size: 2rem;
  padding: 0 1.2rem;
}
.MainNav ul .nav__searchbar input:focus {
  outline: none;
}
.MainNav ul .login--buttons {
  display: flex;
  width: 20%;
  gap: 1.2rem;
}
.MainNav ul .login--buttons button {
  padding: 0.6rem 1.8rem;
  width: 50%;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}
.MainNav ul .login--buttons button.sign--up {
  background-color: #4f87d4;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.MainNav ul .login--buttons button.sign--up:hover {
  background-color: #ffffff;
  color: #4f87d4;
  border: 1px solid #4f87d4;
}
.MainNav ul .login--buttons button.login {
  background-color: #ffffff;
  color: #4f87d4;
  transition: all 0.2s ease-in-out;
}
.MainNav ul .login--buttons button.login:hover {
  background-color: #4f87d4;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.MainNav .search--results__container {
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 4.8rem;
  top: 100%;
  background-color: #333;
  width: 100%;
  height: 80vh;
  padding: 4.8rem;
}
.MainNav .search--results__container.hidden {
  display: none;
}
.MainNav .search--results__container .BestMatch {
  width: 30%;
}
.MainNav .search--results__container .Alternatives {
  width: 30%;
}

.BestMatch {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  cursor: pointer;
}
.BestMatch.maxWidth {
  width: 60% !important;
}
.BestMatch.maxWidth .match--container .image--container {
  height: 100%;
  width: 30%;
  overflow: hidden;
}
.BestMatch.maxWidth .match--container .image--container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 90%;
}
.BestMatch.maxWidth .match--container .movie--text {
  width: 70%;
}
.BestMatch .match--container {
  height: 100%;
}
.BestMatch .match--container .match {
  height: 90%;
  display: flex;
  gap: 1.2rem;
}
.BestMatch .match--container .match .movie--text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Alternatives {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;
}
.Alternatives .match--container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.Alternatives .match--container .alternative {
  height: 10%;
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}
.Alternatives .match--container .alternative .movie--text {
  font-size: 1.2rem;
  align-self: center;
}

.ShowtimesSection {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 2.4rem;
}
.ShowtimesSection ul {
  justify-content: flex-start;
  list-style: none;
}

.Showtime {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  color: #ffffff;
}
.Showtime .time {
  color: #4f87d4;
}
.Showtime .lang {
  display: flex;
  margin-left: auto;
  gap: 2.4rem;
}
.Showtime:not(:last-child) {
  border-bottom: 2px solid #1a1a1a;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
}

.NavMenu {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  gap: 4.8rem;
  top: 0;
  background-color: #333;
  width: 100%;
  height: 100vh;
  padding: 4.8rem;
  transform: translateY(-100%);
  z-index: 4;
  color: #ffffff;
  transition: transform 0.5s ease-in-out;
}
.NavMenu.open {
  transform: translateY(0);
}
.NavMenu .menu--section {
  cursor: pointer;
  caret-color: transparent;
}

.TintLayer {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading .content {
  width: 100%;
}
.loading .spinner {
  width: 5rem;
  height: 5rem;
  position: relative;
  padding-top: 5rem;
  background-color: transparent;
}
.loading .spinner::before, .loading .spinner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  animation: rotate 1.5s linear infinite;
  pointer-events: none;
}
.loading .spinner::before {
  border-left-color: #ffffff;
}
.loading .spinner::after {
  border-left-color: #ffffff;
  animation-duration: 2s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.BrowseMovies {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  justify-self: center;
}
.BrowseMovies .container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.MovieGenrePreview {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.MovieGenrePreview .genre--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.MovieGenrePreview .genre--header h2 {
  font-size: 2.8rem;
  padding-bottom: 1.8rem;
}
.MovieGenrePreview .genre--header span {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.MovieGenrePreview .genre--header span:hover {
  color: #4f87d4;
}
.MovieGenrePreview .movies--container {
  display: flex;
  gap: 1.8rem;
}
.MovieGenrePreview .movies--container .ProductCard {
  width: 17%;
}

.BrowseMoviesByGenre {
  display: flex;
  width: 100%;
}
.BrowseMoviesByGenre .Filter {
  width: 20%;
}
.BrowseMoviesByGenre .content--container {
  width: 80%;
  padding: 2.8rem;
}
.BrowseMoviesByGenre .content--container .header {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1.8rem;
}
.BrowseMoviesByGenre .content--container .header .header--content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.BrowseMoviesByGenre .content--container .header .header--content .Dropdown {
  width: 20%;
}
.BrowseMoviesByGenre .content--container .movies--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
}
.BrowseMoviesByGenre .content--container .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
  gap: 1.2rem;
}
.BrowseMoviesByGenre .content--container .pagination .btn {
  padding: 1.2rem;
  border-radius: 100000rem;
  width: 4.2rem;
  height: 4.2rem;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.BrowseMoviesByGenre .content--container .pagination span {
  color: #ffffff;
}

.Filter {
  background-color: #000000;
  color: #ffffff;
}

.Dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  border: 1px solid #ffffff;
  padding: 0.6rem 1.2rem;
  caret-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.Dropdown img {
  transform: rotate(-90deg) scale(1.5);
  transition: transform 0.2s ease-in-out;
}
.Dropdown img.active {
  transform: rotate(90deg) scale(1.5);
}
.Dropdown .dropdown--content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  max-height: 0;
  transform: translateY(0) scaleY(0);
  transform-origin: bottom;
  color: #121212;
  transition: transform 0.2s ease-in-out, max-height 0.2s ease-in-out;
}
.Dropdown .dropdown--content .dropdown--item {
  padding: 1.2rem;
  border-bottom: 1px solid #121212;
  transition: all 0.2s ease-in-out;
}
.Dropdown .dropdown--content .dropdown--item span {
  font-size: 1.8rem;
}
.Dropdown .dropdown--content .dropdown--item:hover {
  background-color: #121212;
  color: #ffffff;
}
.Dropdown .dropdown--content.active {
  max-height: -moz-fit-content;
  max-height: fit-content;
  transform: translateY(100%) scaleY(1);
  background-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=index.css.map */