@import "./Variables";
@import "./App";
@import "./pages/SingleView.scss";
@import "./components/ProductSlide";
@import "./components/ProductCard";
@import "./components/navigation/SingleViewNav";
@import "./components/ReviewSection";
@import "./components/Review";
@import "./components/CastSection";
@import "./components/RoundPhoto";
@import "./components/CastMember";
@import "./components/navigation/MainNav";
@import "./components/BestMatch";
@import "./components/Alternatives";
@import "./components/ShowtimesSection";
@import "./components/Showtime";
@import "./components/navigation/NavMenu";
@import "./components/utility/TintLayer";
@import "./components/utility/Loading";
@import "./pages/Showtimes";
@import "./pages/BrowseMovies";
@import "./components/MovieGenrePreview";
@import "./components/filter/Filter";
@import "./components/Dropdown";
@import "./pages/BrowseMoviesByGenre";
@import "./components/filter/RangeSlider";
@import "./pages/login/LoginWindows";
@import "./pages/UserSettings/UserSettings";
@import "./pages/UserSettings/GeneralSettings";
@import "./pages/UserSettings/DeleteUser";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}
