.PersonCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  height: 6.4rem;
  padding: 3.6rem 0.6rem;
  background-color: $color2;
  color: $color5;
  border-bottom: 1px solid rgba($color: $color5, $alpha: 0.3);
  cursor: pointer;
  transition: background-color 0.15s ease-in;

  position: relative;
  button {
    margin-left: auto;
    padding: 0.6rem 1.8rem;
    border-radius: 0.6rem;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    background-color: $color5;
    color: $color2;
    &:hover {
      background-color: $color7;
      color: $color5;
    }
  }
  .person {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    .RoundPhoto {
      height: 5.4rem;
      width: 5.4rem;
    }
  }
  &:hover {
    background-color: $color9;
  }
}
